<h4 class="title">Board List</h4>

<%= link_to 'Create Board', new_board_path, type: 'button', class: 'btn btn-primary create-btn' %>

<table class="table table-hover">
  <thead class="table-light">
    <tr>
      <th scope="col">Board Name</th>
      <th scope="col">Owner (username)</th>
      <th scope="col">Manage Board</th>
      <th scope="col">Manage Article</th>
    </tr>
  </thead>
  <tbody>
    <% @boards.each do |board| %>
    <tr>
      <td><%= board.name %></td>
      <td><%= board.user.username %></td>
      <td>
        <%= link_to 'Edit', edit_board_path(board), type: 'button', class: 'btn btn-primary create-btn' %>
        <%= link_to 'Delete', board_path(board),
              data: {confirm: "Are you sure to delete #{board.name}?"}, method: :delete,
              type: 'button', class: 'btn btn-secondary create-btn' %>
      </td>
      <td>
        <%= link_to 'Add Article', new_board_post_path(board), type: 'button', class: 'btn btn-primary create-btn' %>
        <%= link_to 'All Articles', board_posts_path(board), type: 'button', class: 'btn btn-primary create-btn' %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
