<h4 class="title"><%= @board.name.upcase %> - Post List</h4>

<%= render 'shared/errors' %>

<%= link_to 'Back', boards_path, type: 'button', class: 'btn btn-secondary create-btn' %>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <% @posts.each do |post| %>
    <div class="col">
      <div class="card text-center">
        <div class="card-header">
          @<%= User.find(post.user_id).username %>
        </div>
        <div class="card-body">
          <p class="card-text"><%= truncate(post.content, length: 60) %></p>
          <%= link_to 'Edit', edit_post_path(post), type: 'button', class: 'btn btn-primary create-btn' %>
          <%= link_to 'Delete', post_path(post),
                data: {confirm: "Are you sure to delete this post?"}, method: :delete,
                type: 'button', class: 'btn btn-secondary create-btn' %>
          <%= link_to 'Reply', new_board_post_path(post.board, article_id: post.id), remote: true, type: 'button', class: 'btn btn-outline-primary' %>
        </div>
      </div>

      <%# show replies of article %>
      <% if post.replies.any? %>
        <% post.replies.each do |reply| %> 
          <%= render partial: 'posts/reply', locals: { reply: reply } %>
        <% end %>
      <% end %>

      <%# show reply form of article %>
      <div id="reply-form-<%= post.id %>"></div>
    </div>
  <% end %>
</div>
