<!DOCTYPE html>
<html>
  <head>
    <title>BlogPostingSystem</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
      <div class="container-fluid">
        <%= link_to 'Blog Posting System', root_path, class: 'navbar-brand' %>
      </div>
    </nav>

    <div style="padding: 1rem;">
      <div><%= notice %></div>
      <%= yield %>
    </div>
  </body>
</html>
